<html>
<head>
<style>
.sidebar {
    background-color: #add8e6;
    height: 100vh;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px 20px;
}
.sidebar ul li:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.main-content {
    padding: 20px;
}
</style>
</head>
<body>

<div class="container-fluid">
<div class="row">
    <div class="sidebar">
        <ul>
            <li><a href="/addsubject">Add Course</a></li>
            <li><a href="/viewaddsubject">View Course</a></li>
            <li><a href="/viewregistration">View Registration</a></li>
            <li><a href="/viewcontact">View Contact</a></li>
        </ul>
    </div>
  
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>